.signUp-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        input {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        button {
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #007BFF;
            color: #fff;
            cursor: pointer;
        }
    }
}





